@font-face {
	font-family: 'Area';
	font-weight: normal;
	src: url('/fonts/area-normal-regular.otf');
}
@font-face {
	font-family: 'Area';
	font-weight: bold;
	src: url('/fonts/area-normal-bold.otf');
}

:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: system-ui;
	--theme-font-family-heading: Area;
	--theme-font-color-base: var(--color-dark-blue);

	/** Brand Colors **/
	--color-brand-violet: 196 183 241 /* #c4b7f1 */;
	--color-off-white: 255 253 233 /* #fffde9 */;
	--color-lime: 211 255 181 /* #d3ffb5 */;
	--color-dark-blue: 26 26 51 /* #1a1a33 */;
}

[data-theme='modern'] h1,
[data-theme='modern'] h2,
[data-theme='modern'] h3,
[data-theme='modern'] h4,
[data-theme='modern'] h5,
[data-theme='modern'] h6 {
	font-weight: bold;
	font-family: var(--theme-font-family-heading);
}
